{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans Variable", sans-serif;
    text-align: center;
    background-color: #f9f0ff;
    padding: 20px;
}

h1 {
    font-size: 50px;
    color: #4B3995;
    margin-bottom: 20px;
    font-weight: normal;
}
h2, h3, h4, h5, h6, p {
    font-size: 12px;
    margin-bottom: 20px;
}

img {
    width: 600px;
    height: auto;
    border-radius: 20px;
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
}

a {
    color: #4B3995;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
.column {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    max-width: 1500px;
    margin: 4rem auto;
    padding: 0 40px;
}
    
@media (min-width: 1024px) {
    .column {
        grid-template-columns: 1fr 1fr;
    }
}

.column img {
    width: 600px;
    height: auto;
    object-fit: cover;
}


.column-text {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.column-title {
    font-size: 48px;
    font-weight: 500;
    color: black;
    text-align: left;
    line-height: 1.2;
}

