{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans Variable", sans-serif;
    text-align: left;
    background-color: #f9f0ff;
    padding: 20px;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 64px;
    margin-bottom: 20px;
    text-align: left;
}
h2 {
    font-size: 24px;
    color: black;
    text-align: left;
}
h3, h4, h5, h6, p {
    font-size: 12px;
    margin-bottom: 20px;
    text-align: left;
}

img {
    width: 600px;
    height: auto;
    border-radius: 20px;
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
}

a {
    color: #FFFFFF;
    font-size: 1em;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    font-size: 1.15em;
    color: #e5e5e5;
    text-decoration: underline;
    font-weight: bold;
}
.column {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1500px;
    margin: 64px auto;
    padding: 0 40px;
    align-items: start;
}
    
@media (min-width: 1024px) {
    .column {
        grid-template-columns: 1fr 1fr;
    }
}

.column img {
    width: 600px;
    height: auto;
    object-fit: cover;
}


.column-text {
    text-align: left;
    font-weight: normal;
}
