{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:"Lucida Console", monospace;
    text-align: left;
    background-color: #f9f0ff;
    padding: 20px;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 64px;
    margin-bottom: 20px;
    text-align: left;
}
h2 {
    font-size: 24px;
    color: black;
    text-align: left;
}
h3, h4, h5, h6, p {
    font-size: 12px;
    margin-bottom: 20px;
    text-align: left;
    line-height: 2
}

img {
    width: 600px;
    height: auto;
    border-radius: 20px;
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
}

a {
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    font-size: 20px;
    color: #e5e5e5;
}
.column {
    display: grid;
    grid-template-columns: 1fr;
    margin: 64px auto;
    padding: 0 40px;
    align-items: start;
}
    
@media (min-width: 600px) {
    .column {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 10px;
    }
}

.column img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.column-text {
    text-align: left;
    font-weight: normal;
}

header {
    background-color: #4b3995;
    padding: 0px;
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-top: -20px;
    margin-left: 70px;
    height: 20px;
    border-radius: 20px;
    align-items: left;
}

header a {
    padding: 0 12px;
    color: white;
    text-decoration: none;
    text-align: left;
    margin-left: 140px
}

header a:hover {
    color: #e5e5e5;
    font-size: 20px;
}
